@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

body {
  background-color: #c6c5b9;
  font-family: "Press Start 2P", cursive;
}
.square {
  width: 30px;
  height: 30px;
  border: 1px solid black;
  background-color: #4289ca;
}
.square:hover {
  cursor: pointer;
  background-color: #33689a;
}

.filled {
  background-color: #a22c29;
}
.missed {
  background-color: greenyellow;
}
.hit {
  background-color: orange;
}
.sunk {
  background-color: rgb(30, 30, 30);
}
header {
  background-color: #2f74b4;
  border-bottom: 5px solid #184d7e;
  color: white;
}

.boat {
  transition: 0.3s ease;
}
.boat:hover {
  background-color: rgb(138, 138, 138);
  transform: scale(0.9);
}

.green-button {
  background-color: #44aa98;
  color: white;
  padding: 20px 35px;
  transition: 0.3s ease;
}
.green-button:hover {
  background-color: #378879;
  transform: scale(0.9);
}

#rotate-button {
  background-color: #353535;
  color: white;
  padding: 10px 30px;
  transition: 0.3s ease;
}
#rotate-button:hover {
  background-color: #272727;
  transform: scale(0.9);
}

.placed {
  background-color: #272727;
}
